body {
  width: 100%;
}

img {
    width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 1024;
}

.certificado {
    width: 400px;
}

.fb-share-button {
    margin-top: 1em;
}